<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>

<!-- passing hidden fields -->
<%= f.hidden_field :project_id, :value => @project.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>

  <!-- <div class="field"> -->
  <!--   <%#= f.label :comment_project_id %><br> -->
  <!--   <%#= f.number_field :comment_project_id %> -->
  <!-- </div> -->
  <!-- <div class="field"> -->
  <!--   <%#= f.label :comment_user_id %><br> -->
  <!--   <%#= f.number_field :comment_user_id %> -->
  <!-- </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
