<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>P.No.</th>
      <th>P.Id</th> <!-- <%= model_class.human_attribute_name(:id) %> -->
      <th>Project Title</th> <!-- <%= model_class.human_attribute_name(:projtitle) %> -->
      <th>Project Description</th> <!-- <%= model_class.human_attribute_name(:projdesc) %> -->
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @c = 1 %> <!-- Instance Varible to print project numbering -->
    <% @projects.each do |project| %>
    <tr>
      <td><%= @c.inspect %></td> <!-- Prints numbers -->
      <td><%= project.id %></td>
      <td><%= project.projtitle %></td>
      <td><%= project.projdesc %></td>
      <td><%=l project.created_at, format: :long %></td>
      <td>
        <%= link_to project_path(project), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
        <%= glyph 'info-sign' %>
        <%- end -%>
        <%= link_to edit_project_path(project), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
        <%= glyph 'pencil' %>
        <%- end -%>
        <%= link_to project_path(project), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
	<% @c = @c+1 %> <!-- Incrementing Instance variable -->
        <%= glyph 'remove' %>
        <%- end -%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<!-- <%#= render 'comments/form.html.erb' %> -->


<%= link_to t('.new', :default => t("helpers.links.new")),
new_project_path,
:class => 'btn btn-primary' %>
